body {
    background-color: #111;
    font-family: Arial sans-serif;
    margin: 0;
    padding: 0;
}

/* choose level set */
.level-sets {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 300px;
    position: relative;
}

.level-sets .set {
    text-align: center;
}

.level-sets .set a {
    display: inline-block;
    width: 100%;
    color: #ddd;
    text-decoration: none;
    padding: 10px 0;
}

.level-sets .set a:hover {
    color: white;
    background-color: #222;
}

.level-sets:before, .level-sets:after {
    position: absolute;
    display: block;
    top: 10px;
    width: 128px;
    height: 128px;
    background-image: url(images/hi128-app-ksokoban.png);
    content: '';
}
.level-sets:before {
    left: -128px;
}
.level-sets:after {
    right: -128px;
}

/* level title */
h2.level-title {
    color: white;
    text-align: center;
    width: 600px;
    margin: 24px auto;
    position: relative;
}
h2.level-title a.up {
    position: absolute;
    display: block;
    top: -10px;
    width: 48px;
    height: 48px;
    background-image: url(images/hi48-app-ksokoban.png);
    content: '';
}
h2.level-title a.up.left {
    left: 0;
}
h2.level-title a.up.right {
    right: 0;
}

/* choose level */
.levels {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 600px;
}

.levels .level {
    text-align: center;
    float: left;
    width: 60px;
}

.levels .level a {
    display: inline-block;
    padding: 20px 20px;
    color: #ddd;
    text-decoration: none;
}

.levels .level a:hover {
    color: white;
    background-color: #222;
}

/* cave */
.game-data {
    height: 30px;
    margin: 10px 0;
}
.cave {
    margin: 0 auto;
    position: relative;
}

.cave .item {
    position: absolute;
    background: scroll transparent 0 0 no-repeat;
    background-size: 100%;
}

.cave .item.gem {
    background-image: url(images/object.png);
    z-index: 2;
}

.cave .item.player {
    background-image: url(images/man.png);
    z-index: 2;
}

.cave .item.goal {
    background-image: url(images/goal.png);
    z-index: 1;
}

.cave .item.floor {
    background-color: #555;
    z-index: 0;
}

.cave .item.wall .stone {
    position: absolute;
    background: scroll transparent 0 0 no-repeat;
    background-size: 100%;
}

.cave .item.wall .stone.stone1 { background-image: url(images/stone_1.png); }
.cave .item.wall .stone.stone2 { background-image: url(images/stone_2.png); }
.cave .item.wall .stone.stone3 { background-image: url(images/stone_3.png); }
.cave .item.wall .stone.stone4 { background-image: url(images/stone_4.png); }
.cave .item.wall .stone.stone5 { background-image: url(images/stone_5.png); }
.cave .item.wall .stone.stone6 { background-image: url(images/stone_6.png); }

.cave .item.wall .stone.halfstone1 { background-image: url(images/halfstone_1.png); }
.cave .item.wall .stone.halfstone2 { background-image: url(images/halfstone_2.png); }
.cave .item.wall .stone.halfstone3 { background-image: url(images/halfstone_3.png); }
.cave .item.wall .stone.halfstone4 { background-image: url(images/halfstone_4.png); }

/* odometer */
.yui3-odometerwidget {
    height: 76px;
    overflow: hidden;
}
.yui3-odometerwidget-content {
    position: relative;
}

.yui3-odometerwidget-content nav {
    position: absolute;
    left: 15px;
    top: 4px;
    height: 20px;
}
.yui3-odometerwidget-content nav a {
    text-decoration: none;
    color: red;
    padding: 4px 8px;
}
.yui3-odometerwidget-content nav span {
    color: #777;
    padding: 4px 8px;
    cursor: default;
}

.yui3-odometerwidget-content .measurements {
    position: absolute;
    right: 15px;
    top: -6px;
    height: 40px;
}
.yui3-odometerwidget-content .measurement {
    float: right;
    clear: right;
    color: #777;
    margin: 0 5px 3px 10px;
}
.yui3-odometerwidget-content .measurement .value {
    color: red;
}
